$base-white: #FFFFFF;
$base-black: #000000;
$blue: #2C4058;
$light-blue: #55B7FF;
$violet: #7E5AFF;
$gray: #4B5562;
$bg-color: #FFFFFF;
$gradient: linear-gradient(243.43deg, rgba(126, 90, 255, .8), rgba(85, 183, 255, .8));
