@import "fonts";

$bg-color-light: #FFFFFF;
$bg-color-dark: #161926;
$red: #F1897B;
$green: #85BBB1;
$green-neon: #53F3CD;
$blue: #689FF2;
$white: #FFFFFF;
$linear-red: linear-gradient(96.73deg, #F1897B 6.73%, rgba(241, 137, 123, 0) 116.9%);
$linear-green: linear-gradient(96.73deg, #53F3CD 6.73%, rgba(83, 243, 205, 0) 116.9%);
$gray: #E4E4E4;
$gray-light: #BBBCC1;
$red-dark: #E64F3A;
$green-neon-dark: #E64F3A;
$dark-blue: #262A3F;

$blue-deep: #161926;
$gray-dark: #515773;