@import "reset/reset.css";

* {
    transition: all .1s ease-in;
}

.wrapper {
    width: auto;
    max-width: 534px;
    margin: 0 auto;
}

html {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
}

h1 {
    font-weight: 700;
    font-size: 24px;
    color: #FF8984;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 4px;
}

h2 {
    font-size: 16px;
    color: #FF8984;
    text-align: center;
    padding-bottom: 12px;
}

body {
    background-color: #3B3F45;
}

.background-grey {
    background-color: #4A4F56;
}

/*Main*/

.section {
    padding-top: 20px;
    padding-bottom: 60px;
}

.block {
    display: flex;
    flex-direction: row;
    gap: 16px;
    padding: 8px 0 10px 16px;
    cursor: pointer;
}

.block:nth-of-type(odd) {
    background-color: #88839E;
    border-top: 3px solid #88839E;
    border-bottom: 3px solid #88839E;
}

.block:nth-of-type(even) {
    background-color: #7A7593;
    border-top: 3px solid #7A7593;
    border-bottom: 3px solid #7A7593;
}

.block:hover {
    background-color: #625E77;
    border-top: 3px solid #FFFFFF;
    border-bottom: 3px solid #FFFFFF;
}

.block:active {
    background-color: #FF8984;
}

span {
    font-size: 11px;
    padding-left: 3px;
}

span:before {
    content: '(';
}

span:after {
    content: ')';
}

input {
    width: 19px;
    height: 19px;
    accent-color: #FFFFFF;
    cursor: pointer;
}

input + label {
    display: inline-flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

input:checked + label {
    text-decoration: line-through;
    color: #9B96AC;
}

/*button {*/
/*    background-color: #4A4F56;*/
/*}*/

/*Footer*/

footer {
    color: #FF8984;
    text-align: center;
    padding: 12px 0;
}