@import "styles/reset.css";

@import "styles/fonts.css";

main {
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    color: #000000;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #FFFFFF;
}

.section {
    padding-bottom: 70px;
}


/*NAVIGATION*/
.header {
    position: relative;
}

.navigation {
    width: 1170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 5px 80px;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
}

.navigation img {
    text-align: right;
}

.language {
    font-family: 'Tourney', sans-serif;
    font-weight: 600;
    font-size: 22px;
    padding-right: 50px;
}

.nav-list {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.navigation .nav-item {
    font-family: 'Staatliches', sans-serif;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.03em;
    color: #000000;
}

.nav-item:hover:not(.slash) {
    opacity: 0.5;
}

/*MAIN*/

.content {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 30px;
    justify-items: center;
    margin-top: 152px;
}

.left-content {
    padding-top: 31px;
    position: sticky;
    align-self: start;
    right: 0;
    top: 152px;
}

.right-content {
    background-image: url('assets/bg-picture.svg');
    background-repeat: no-repeat;
    background-position: right 163px;
    background-attachment: fixed;
}

.divider {
    width: 100px;
    height: 8px;
    background: #000000;
    margin-left: 0;
}

.left-content .title {
    padding-bottom: 10px;
    border-bottom: 1px solid #BDBDBD;
    margin-bottom: 70px;
}

.title {
    font-family: 'Francois One', sans-serif;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 40px;
}

.chapter {
    font-family: 'Farro', sans-serif;
    font-weight: 300;
    font-size: 22px;
    letter-spacing: 0.04em;
    color: #000000;
    vertical-align: 50%;
    text-transform: capitalize;
}

.description {
    padding-bottom: 40px;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.bold {
    font-family: 'PT Sans-Bold', sans-serif;
    font-weight: 700;
}

.background {
    font-family: 'Hind', sans-serif;
    background-color: #dadada;
}