@import "variables";

@mixin fonts($family, $weight, $size, $line-height, $color) {
  font-family: $family, sans-serif;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  color: $color;
}

@mixin miniRectangle {
  width: 10px;
  height: 4px;
  background: $color-gold;
}

@mixin border-top {
  border-top: $border;
  padding: 50px;
  width: 100px;
}

@mixin border-bottom {
  border-bottom: $border;
  padding: 50px;
  width: 100px;
}

@mixin border-right {
  border-right: $border;
}

@mixin border-left {
  border-left: $border;
}