@import "variables";

@mixin fonts($family, $weight, $size, $color) {
  font-family: $family, sans-serif;
  font-weight: $weight;
  font-size: $size;
  color: $color;
}

@mixin fontSans($font-size) {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: $font-size;
  color: $base-black;
}